<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post.content %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>

<h3>Comments (<%= @post.comments.size %>)</h3>
<div id="comments-list">
  <% @post.comments.each_with_index do |c,idx| %>
      <p>
        <span>#<%= idx + 1 %>: <%= c.username %></span>:
        <%= c.content %>
        <%= link_to "Delete Comment", post_comment_path(@post, c), :method => :delete ,:confirm => "Are you  sure you want to delete this comment?" %>
      </p>
  <% end %>
  <hr />
  <%= form_for([@post, @post.comments.build]) do |f| %>
      <div class="field">
        <%= f.label :username %><br />
        <%= f.text_field :username %>
      </div>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.text_field :email %>
      </div>
      <div class="field">
        <%= f.label :content %><br />
        <%= f.text_area :content %>
      </div>
      <div class="actions">
        <%= f.submit %>
      </div>
  <% end %>
</div>

